#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-top: 5px solid white;
  border-left: 5px solid white;
}
.cell {
  border: 1px solid white;
}
.cell:nth-child(3n) {
  border-bottom: 5px solid white;
}
.cellVal {
  width: 20px;
  height: 20px;
}
.row:nth-child(3n) {
  border-right: 5px solid white;
}
.pointCanvas {
  border: 2px dotted white;
  width: 100%;
  height: 350px;
}
.point {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.tabs-container {
  width: 500px;
  margin: 20px auto;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  max-width: 500px !important;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  color: black;
  background-color: #f1f1f1;
}

.tab.active {
  background-color: #8a8a8a;
  animation: none !important;
}
.tab:hover {
  background-color: #bebebe;
  animation: tabAnimator 1s linear infinite;
}
.tab-content {
  border: 1px solid #ddd;
  padding: 10px;
}
@keyframes tabAnimator {
  0% {
    box-shadow: 0 0 0 5px rgba(188, 237, 243, 0.3);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(188, 237, 243, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(188, 237, 243, 0.3);
  }
}
.memoryGame {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.memoryCell {
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: black;
}
.fileExplorer {
  text-align: left;
}
.passcode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.zero {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.red {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}
.yellow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
}
.green {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
}
.signs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.noSign {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey;
}
